*{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
    word-spacing: 150px;
    color: white;
}

#first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    word-spacing: 3px;
    padding: 20px;
    background-color: black;
}

.mapcard>span{
    font-size: 15pt;
}


.mapcard>img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapcard {
    width: 15%;
    height: 15%;
    object-fit: cover;
    background-color: #a4152c;
}

.mapref {
    font-size: 8pt;
    margin-bottom: 20px;
}

#second-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    word-spacing: 3px;
    font-size: 30px;
    padding: 30px;
    color: white;
    background-color: black;
}

div#container {
    width: 1400px;
    margin: 10px auto;
    background-color: #a4152c;
}

#third-section #fourth-section #fifth-section{
    min-height: 300px;
    overflow: hidden;
}

.mapinfo {
    width: 700px;
    float: right;
    min-height: 388px;
}

.mapdetails {
    min-height: 388px;
    margin-right: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
    color: white;
}

.mapinfo1 {
    width: 700px;
    float: left;
    min-height: 388px;
}

.mapdetails1 {
    min-height: 388px;
    margin-left: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
}

/* navbar & footer*/
nav *, footer *{
    letter-spacing: .2em;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 11vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 2.5px solid #fa4454;
}

.dropdown{
    width: 100%;
    height: 11vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-info-btn{
    position: relative;
    z-index: 2;
}

.game-info-btn ul{
    background-color: black;
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.game-info-btn li, .game-info-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info-btn li:hover{
    background-color: crimson;
}

.dropdown button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15pt;
}

.dropdown button:hover, .nav-btn:hover, #dropdown-home:hover{
    color: rgb(184, 184, 184);
}

#logo-navbar{
    width: 14vw;
}

.middle-logo, #dropdown-home, .burger{
    display: none;
}

.middle-logo *{
    background-color: black;
}

.burger div{
    width: 27px;
	height: 3px;
	background-color: rgb(228,228,228);
	margin: 5px;
	transition: all 0.3s ease;
}

footer{
    background: url('../asset/bg-footer.jpg') top right repeat;
    padding: 5vh 10vw;
}

.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

footer li{
    padding: 0 7px;
    margin-bottom: 8px;
}

footer i{
    cursor: pointer;
    font-size: 30px;
}

@media only screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .middle-logo{
        display: flex;
        width: 50vw;
    }
    .middle-logo #logo-navbar{
        width: 12em;
    }
    #dropdown-home{
        display: block;
    }
    .home img{
        display: none;
    }
    .dropdown{
        position: absolute;
		right: 0;
		height: 60vh;
		top: 11.3vh;
        background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
    }
    .burger{
		display: block;
		cursor: pointer;
	}
}

.nav-active{
	transform: translateX(0%);
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}